.chat-man
  .chat-main__header
    .chat-main__header--group.clearfix
      .chat-main__header--group-name
      =link_to ("/groups/@user.group.id/edit") do
        edit
    .chat-mian__header-menbers
      %i
  .chat-main__body
  .chat-main__footer
