.chat-main
  .chat-main__header
    .chat-main__header--group.cf
      .chat-main__header--group-name
        group
      =link_to ("/groups/@user.group.id/edit"),class:"chat-main__header--group-edit-btn" do
        edit
    .chat-main__header-members
      MEMBER:
      %i
  .chat-main__body
    .chat-main__body--messages-list
      .chat-main__message.cf
        .chat-main__message-name
          username
        .chat-main__message-time
          timestamp
        .chat-main__message-body
          messagebody
          %img.chat-main__message-body-image
      .chat-main__message.cf
        .chat-main__message-name
          username
        .chat-main__message-time
          timestamp
        .chat-main__message-body
          messagebody_messagebody_messagebody_messagebody_messagebody_messagebody_messagebody_messagebody_
          %img.chat-main__message-body-image
  .chat-main__footer
    -# divでform仮置き
    .chat-main__footer-form#new_message
      .chat-main__footer-body
        = text_field :message,:body,class:"message",placeholder:"type a message"
        = label :message,:image,'',class:"chat-file" do
          = file_field :message,:image,class:"image",id:"message_image"
          %i.fa.fa-image
      = submit_tag "Send",class:"submit"
      -# .submit
      -#   Send
