@import "./reset";
@import "./base";
@import "messages";
@import "font-awesome";
/*
 *= require font-awesome
 */

 .notificaton{
   background-color: #38AEF0;
   color: #FFFFFF;
   text-align: center;
 }
